/* .content{
    width: 100%;

    height: 500px;

    display: flex;

    .left{

        width: 200px;

        border-right: 1px solid #eee;

        height: 500px;
    }
    .right{

        flex: 1px;

    }
} */


.output {
    font: 1rem 'Fira Sans', sans-serif;
}

.note {
    font-style: italic;
    font-weight: bold;
}

.highlight {
    background: rgb(255, 0, 0, .25);
    padding: 10px;
}

.editorial:before {
    content: 'Editor: ';
}
   
